* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eae68b;
    font-family: 'Lato', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    overflow: hidden;
    display: flex;
}

.player {
    flex: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
}

.name {
    position: relative;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}

.pl {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: lighter;
}

.tscore {
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
}

.score {
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: auto;
    padding-top: 10px;
    color: red;
}
  
.player--active {
    background-color: white;
}

.player--active .current {
    opacity: 1;
}

.current {
    margin-top: 10rem;
    background-color: red;
    border-radius: 9px;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
}
  
.current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
}

.current-score {
    font-size: 3.5rem;
}

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    font-size: 30px;
    cursor: pointer;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 10px;
}

.btn--new {
    top: 4rem;
    font-weight: bold;
}
  
.btn--roll {
    top: 30.3rem;
    
}

.btn--hold {
    top: 35.1rem;
}

.dice {
    position: absolute;
    left: 50%;
    top: 14rem;
    transform: translateX(-50%);
}

.player--winner {
    background-color: gold;
    color: red;
    font-weight: bold;
}
  
.player--winner .name {
    font-weight: 700;
    color: black;
}

.hidden {
    display: none;
}
/*Mise en place du responsive*/
@media (max-width: 768px) and (orientation: portrait) {
    
    body {
        transform: rotate(90deg);
        max-width: 100%;
        height: auto;
        overflow-x: hidden;
        position: absolute;
    }

    .player{
        padding: 100px 0px;
    }
    .pl{
        font-size: 24px;
    }
    .score{
        font-size: 40px;
    }
    .current{
        margin: 60px;
    }
    .current-label {
        font-size: 1rem;
        
    }
    .btn{
        font-size: 15px;
    }
    .btn--hold{
        top: 20rem
        
    }
    .btn--roll{
        top: 15rem;
    }
    .btn--new {
        top: 1rem;
        font-size: 1rem;
    }
}
